---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

hr.hr-dotted {
  border: none;
  border-top: 5px dotted #808080;
  color: #fff;
  background-color: #fff;
  height: 5px;
  width: 50%;
  opacity: 0.1;
}

.fof {
  display: grid;
  place-items: center;
  background-color: #f1f1f1;
  background-image: url("/images/404background.jpg");
  margin: 0;
}

@charset "utf-8";

@import "so-simple";
