---
layout: page
---

{{ content }}

<ul class="taxonomy-index">
  {% assign retrospectivesInYear = site.retrospectives | group_by_exp:
  'retrospective', 'retrospective.date | date: "%Y"' %} {% for year in
  retrospectivesInYear %}
  <li>
    <a href="#{{ year.name }}">
      <strong>{{ year.name }}</strong>
      <span class="taxonomy-count">{{ year.items | size }}</span>
    </a>
  </li>
  {% endfor %}
</ul>

{% assign postsByYear = site.retrospectives | group_by_exp: 'retrospective',
'retrospective.date | date: "%Y"' %} {% for year in postsByYear %}
<section id="{{ year.name }}" class="taxonomy-section">
  <h2 class="taxonomy-title">{{ year.name }}</h2>
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
    {% for entry in year.items reversed %} {% include entry.html %} {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top"
    >{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }}
    &uarr;</a
  >
</section>
{% endfor %}
